docs/output/

# C
build/
*.o
*.elf
*.bin
*.hex
*.map

# Rust
code/**/rust/target/
code/**/rust/.cargo/.rustc_info.json

# Ada
.als.json
code/**/ada/obj/
code/**/ada/*.ali

# Zig
code/**/zig/.zig-cache/
code/**/zig/zig-out/
